<div class="container shadow mt-4 mb-4 h-100">
  <div>
    <h2>Il y a actuellement {{getNbJeux()}} jeux dans la ludothèque</h2>
  </div>

  <table class="table table-striped table-sm table-hover" >
    <thead class="table-dark ">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Editeur</th>
        <th scope="col">Categories</th>
        <th scope="col">Difficulté</th>
        <th scope="col">nb Joueurs</th>
        <th scope="col">Durée</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jeu of getJeux()">
        <td>{{jeu.nom}}</td>
        <td>{{jeu.editeur}}</td>
        <td><span *ngFor="let cat of jeu.categories">{{cat.libelle}}</span></td>
        <td>{{jeu.accessibilite}}</td>
        <td>{{jeu.nbJoueursMin}} à {{jeu.nbJoueursMax}} joueurs</td>
        <td>{{jeu.dureeMin}} min</td>
        <td><a href="#">
          <span class="glyphicon glyphicon-pencil">edit</span>
        </a></td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editJeuModal" (click)="razJeuEdit()">
      Ajouter un jeu
  </button>

  <!-- Modal -->
  <app-jeu-edit></app-jeu-edit>
</div>
