<div class="container shadow mt-4 mb-4 h-100">
  <br>
  <div class="alert alert-secondary">
    <h5 class="alert-heading mb-0">Il y a actuellement <span class="badge badge-pill badge-secondary">{{getNbJeux()}}</span> jeux dans la ludothèque</h5>
  </div>

  <table class="table table-striped table-sm table-hover" >
    <thead class="table-dark ">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Difficulté</th>
        <th scope="col">nb Joueurs</th>
        <th scope="col">Durée</th>
        <th scope="col">Actions</th>
        <th scope="col">Actions 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jeu of getJeux()">
        <td>{{jeu.nom}}</td>
        <td><span>{{jeu.categorie.libelle}}</span></td>
        <td [ngClass]="{'text-success': (jeu.accessibilite<3),
        'text-primary': jeu.accessibilite==3,
        'text-warning': jeu.accessibilite==4,
        'text-danger font-weight-bold': jeu.accessibilite==5}">{{getLibelleAccessilite(jeu.accessibilite)}}</td>
        <td>{{jeu.nbJoueursMin}} à {{jeu.nbJoueursMax}} joueurs</td>
        <td>{{jeu.dureeMin}} min</td>
        <td>
            <a href="#" (click)="visualiser(jeu.id)" data-toggle="modal" data-target="#editJeuModal" ><span class="oi oi-magnifying-glass mr-1"></span></a>
            | <a href="#" (click)="editer(jeu.id)" data-toggle="modal" data-target="#editJeuModal" ><span class="oi oi-pencil ml-1 mr-1"></span></a>
            | <a href="#" (click)="supprimer(jeu.id)" data-toggle="modal" ><span class="oi oi-trash ml-1 mr-1"></span></a>
        </td>
        <td>
          <a [routerLink]="['/jeux/fiche',jeu.id]"><span class="oi oi-magnifying-glass mr-1"></span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editJeuModal" (click)="creer()">
      Ajouter un jeu
  </button>

  <!-- Modal -->
  <app-jeu-edit [etat]="action" [idJeu]="idEdit" (jeuSav)="sauver($event)"></app-jeu-edit>
</div>
