<div class="modal fade" id="editJeuModal" tabindex="-1" role="dialog" aria-labelledby="editJeuLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editJeuLabel">
          {{getTitreAction()}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate (ngSubmit)="jeuEdit"> 

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
              <input  class="form-control" 
                      placeholder="nom" 
                      required
                      name="nom"
                      [(ngModel)]="jeuEdit.nom"
                      [readonly]="!isModifiable()"
                      />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Editeur</label>
            <div class="col-sm-10">
              <input  class="form-control" 
                      placeholder="éditeur" 
                      name="editeur"
                      [(ngModel)]="jeuEdit.editeur"
                      [readonly]="!isModifiable()"
                      />
            </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Distributeur</label>
              <div class="col-sm-10">
                <input  class="form-control" 
                        placeholder="Distributeur" 
                        name="distributeur"
                        [(ngModel)]="jeuEdit.distributeur"
                        [readonly]="!isModifiable()"
                        />
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Catégorie</label>
              <div class="col-sm-10">
                <select 
                  name="categorie.libelle" 
                  class="form-control" 
                  [(ngModel)]="jeuEdit.categorie.libelle" >
                  <option *ngFor="let cat of getCategoriesDisponibles()" value="{{cat.libelle}}">{{cat.libelle}}</option>
                </select>
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Accessibilite</label>
              
              <div *ngIf="isModifiable()" class="btn-group col-sm-7">
                <input  
                      type="range" class="custom-range" 
                      [min]="firstAccessibilite" [max]="lastAccessibilite"
                      name="accessibilite"
                      [(ngModel)]="jeuEdit.accessibilite"
                      />
              </div>
              <div class="btn-group col-sm-3 align-bottom">
                  <label  class="form-control text-center"
                    [ngClass]="{'text-success': (jeuEdit.accessibilite<3),
                                'text-primary': jeuEdit.accessibilite==3,
                                'text-warning': jeuEdit.accessibilite==4,
                                'text-danger font-weight-bold': jeuEdit.accessibilite==5}"
                    >{{accesbiliteVal}}</label >
              </div>
          </div>
      
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Age min</label>
            <div class="col-sm-10">
              <input  class="form-control" 
                      placeholder="Age min" 
                      name="ageMin"
                      [(ngModel)]="jeuEdit.ageMin"
                      [readonly]="!isModifiable()"
                      />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">De</label>
            <div class="col-sm-2">
              <input  class="form-control" 
                      placeholder="min"
                      name="nbJoueursMin"
                      [(ngModel)]="jeuEdit.nbJoueursMin"
                      [readonly]="!isModifiable()"
                      />
            </div>
            <label class="col-sm-1 col-form-label">à</label>
            <div class="col-sm-2">
              <input  class="form-control" 
                      placeholder="max" 
                      name="nbJoueursMax"
                      [(ngModel)]="jeuEdit.nbJoueursMax"
                      [readonly]="!isModifiable()"
                      />
            </div>
            <div class="col-sm-1 col-form-label">joueurs</div>
          </div>
          
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Durée</label>
            <div class="col-sm-2">
              <input  class="form-control" 
                      name="dureeMin"
                      [(ngModel)]="jeuEdit.dureeMin"
                      [readonly]="!isModifiable()"
                      />
            </div>
            <div class="col-sm-1 col-form-label">minutes</div>
          </div>
          


        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="isModifiable()" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button *ngIf="isModifiable()" type="button" class="btn btn-primary" (click)="sauverJeu()" data-dismiss="modal">Sauver</button>
        <button *ngIf="!isModifiable()"type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>